body {
  margin: 0;
  line-height: normal;
}
.rectangle-div13 {
  position: absolute;
  top: 194px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 256px;
  height: 133px;
}
.dia-16-dia-da-beterraba,
.dia-25-feriado-municipal {
  position: absolute;
  top: 289px;
  left: 19px;
  display: inline-block;
  width: 208px;
  height: 28px;
}
.dia-16-dia-da-beterraba {
  top: 253px;
}
.rectangle-icon5 {
  position: absolute;
  top: 41px;
  left: -4px;
  width: 264px;
  height: 146px;
  object-fit: cover;
}
.dia-1-folclore,
.janeiro-b {
  position: absolute;
  display: inline-block;
}
.dia-1-folclore {
  top: 213px;
  left: 19px;
  width: 175px;
  height: 28px;
}
.janeiro-b {
  top: 0;
  left: 86px;
  font-size: 24px;
}
.janeiro-card-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 327px;
}
.janeiro-card-div1,
.janeiro-card-div2,
.janeiro-card-div3 {
  position: absolute;
  top: 0;
  left: 332px;
  width: 256px;
  height: 327px;
}
.janeiro-card-div2,
.janeiro-card-div3 {
  left: 994px;
}
.janeiro-card-div3 {
  left: 663px;
}
.janeiro-card-div4,
.janeiro-card-div5,
.janeiro-card-div6 {
  position: absolute;
  top: 835px;
  left: 5px;
  width: 256px;
  height: 327px;
}
.janeiro-card-div5,
.janeiro-card-div6 {
  left: 337px;
}
.janeiro-card-div6 {
  left: 999px;
}
.janeiro-card-div7,
.janeiro-card-div8,
.janeiro-card-div9 {
  position: absolute;
  top: 835px;
  left: 668px;
  width: 256px;
  height: 327px;
}
.janeiro-card-div8,
.janeiro-card-div9 {
  top: 411px;
  left: 11px;
}
.janeiro-card-div9 {
  left: 343px;
}
.janeiro-card-div10,
.janeiro-card-div11,
.meses-section {
  position: absolute;
  top: 411px;
  left: 1005px;
  width: 256px;
  height: 327px;
}
.janeiro-card-div11,
.meses-section {
  left: 674px;
}
.meses-section {
  top: 378px;
  left: 205px;
  width: 1261px;
  height: 1162px;
  text-align: left;
  font-size: 16px;
  color: #112039;
  font-family: Inter;
}
.rectangle-div25,
.rectangle-div26 {
  position: absolute;
  top: 743px;
  left: 200px;
  background-color: #d9d9d9;
  width: 1280px;
  height: 4px;
}
.rectangle-div26 {
  top: 1167px;
  left: 200px;
}
.rectangle-div27,
.rectangle-div28 {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 2px;
  background-color: #C9C9C9;
  width: 100%;
  height: 119px;
}
.rectangle-div28 {
  top: 22px;
  background-color: #fffbfb;
  width: 243.83px;
  height: 42px;
}
.vector-icon5 {
  position: absolute;
  top: 42.68px;
  left: 207.92px;
  width: 25.58px;
  height: 19.1px;
}
.cursos-div1,
.todos-div {
  position: absolute;
  top: 35px;
  left: 24.17px;
  font-weight: 300;
  display: inline-block;
  width: 45.19px;
}
.cursos-div1 {
  top: 0;
  left: 11.56px;
  width: 56.75px;
}
.group-div7 {
  position: absolute;
  top: 30px;
  left: 331.07px;
  width: 243.83px;
  height: 64px;
}
.filtros-p1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.filtros-div1 {
  position: absolute;
  top: 0;
  left: 46.24px;
  font-size: 20px;
  font-weight: 800;
  color: #112039;
  display: inline-block;
  width: 93.54px;
}
.rectangle-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fffbfb;
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: 2px;
  width: 243.83px;
  height: 42px;
}
.ano-div3,
.div2 {
  position: absolute;
  top: 25px;
  left: 22.07px;
  font-weight: 300;
  display: inline-block;
  width: 91.44px;
}
.ano-div3 {
  top: 0;
  left: 8.41px;
  font-size: 15px;
  width: 33.63px;
}
.ano-div2 {
  position: absolute;
  top: 30px;
  left: 62.01px;
  width: 243.83px;
  height: 64px;
  font-size: 32px;
}
.rectangle-div29 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 122.57px;
  height: 30px;
}
.enviar-div1 {
  position: absolute;
  top: 8px;
  left: 41px;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 48.35px;
}
.apagar-button1,
.botao-enviar-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.botao-enviar-button1 {
  top: 0;
  left: 0;
  width: 122.57px;
  height: 30px;
}
.apagar-button1 {
  top: 38px;
  left: 41px;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 51.74px;
}
.botoes-filtros-div1 {
  position: absolute;
  top: 56px;
  left: 605px;
  width: 122.57px;
  height: 53px;
}
.navbar2-div1,
.rectangle-div30 {
  position: absolute;
  top: 217px;
  left: -4px;
  width: 100%;
  height: 129px;
}
.rectangle-div30 {
  top: 0;
  left: 0;
  background-color: #fffefe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 76px;
}
.rectangle-div31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 129px;
  height: 30px;
}
.cursos-div2 {
  position: absolute;
  top: 8px;
  left: 39px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
}
.cursos-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 763px;
  width: 129px;
  height: 42px;
}
.extenso-div2 {
  position: absolute;
  top: 7px;
  left: 33px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
}
.extenso-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 610px;
  width: 129px;
  height: 30px;
}
.acervo-div1 {
  position: absolute;
  top: 7px;
  left: 34px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
}
.acervo-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 459px;
  width: 129px;
  height: 41px;
}
.departamentos-div1 {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 109px;
  height: 26.84px;
}
.departamentos-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 306px;
  width: 129px;
  height: 33.84px;
}
.rectangle-div35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #0d6efd;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 129px;
  height: 30px;
}
.calendrio-div1 {
  position: absolute;
  top: 8px;
  left: 26px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 76px;
  height: 20.4px;
}
.calendario-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 153px;
  width: 129px;
  height: 30px;
}
.destaques-div1 {
  position: absolute;
  top: 7px;
  left: 27px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 75px;
  height: 17px;
}
.destaque-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 0;
  width: 129px;
  height: 30px;
}
.group-div8 {
  position: absolute;
  top: 46px;
  left: 43px;
  width: 892px;
  height: 43px;
}
.navbar-div1,
.rectangle-div37 {
  position: absolute;
  top: 106px;
  left: -1px;
  width: 100%;
  height: 89px;
}
.rectangle-div37 {
  top: 0;
  left: 0;
  background-color: #000;
  height: 434px;
}
.image-3-icon1 {
  position: absolute;
  top: 348px;
  left: 67px;
  width: 485px;
  height: 74px;
  object-fit: cover;
}
.cidadania-global1 {
  position: absolute;
  top: 148.36px;
  left: 704px;
  display: inline-block;
  width: 115px;
  height: 18.82px;
}
.span6 {
  font-weight: 500;
  font-family: Inter;
}
.empresa-div1,
.produtos-div1 {
  position: absolute;
  top: 148.36px;
  left: 422px;
  display: inline-block;
  width: 67px;
  height: 37.64px;
}
.empresa-div1 {
  top: 145.04px;
  left: 84px;
  width: 64px;
}
.uber-para-empresas1 {
  margin: 0;
}
.viaje-dirigir-fazer-entregas-f1 {
  position: absolute;
  top: 182.68px;
  left: 422px;
  font-weight: 500;
  display: inline-block;
  width: 136px;
  height: 169.39px;
}
.acesse-a-central-de-ajuda1,
.quem-somos-o-que-oferecemos-ne1 {
  position: absolute;
  top: 163.86px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
  width: 198px;
  height: 207.04px;
}
.acesse-a-central-de-ajuda1 {
  top: 97.43px;
  width: 177px;
  height: 18.82px;
}
.sigaa-sistema-integrado-de-g1 {
  position: absolute;
  top: 46.5px;
  left: 85px;
  display: inline-block;
  width: 448px;
  height: 18.82px;
}
.acessibilidade-div1 {
  top: 375px;
  left: 1243px;
  font-size: 12px;
}
.acessibilidade-div1,
.segurana-diversidade-e-inclus1,
.termos-div1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.termos-div1 {
  top: 375px;
  left: 1347px;
  font-size: 12px;
  width: 68px;
  height: 16px;
}
.segurana-diversidade-e-inclus1 {
  top: 177px;
  left: 704px;
}
.aeroportos-cidades-div1,
.viaje-b1 {
  position: absolute;
  top: 134px;
  left: 1003px;
  display: inline-block;
}
.aeroportos-cidades-div1 {
  top: 165px;
  font-weight: 500;
}
.cog-interprise-system1,
.privacidade-div1 {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}
.cog-interprise-system1 {
  top: 405px;
  left: 692px;
  color: rgba(255, 255, 255, 0.5);
}
.privacidade-div1 {
  top: 375px;
  left: 1154px;
}
.footer1 {
  position: absolute;
  top: 1682px;
  left: 0;
  width: 100% ;
  height: 434px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
.rectangle-header1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.image-1-icon1,
.image-2-icon1 {
  position: absolute;
  height: 72.64%;
  width: 3.17%;
  top: 14.15%;
  right: 90.69%;
  bottom: 13.21%;
  left: 5.14%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon1 {
  height: 100%;
  width: 48.33%;
  top: 0;
  right: 51.67%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}
.acessar-div1 {
  position: absolute;
  height: 53.33%;
  width: 43.2%;
  top: 26.67%;
  right: 0;
  bottom: 20%;
  left: 56.8%;
  font-size: 13px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.pessoa-com-defi1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 8.68%;
  top: 61.32%;
  right: 20.21%;
  bottom: 10.38%;
  left: 71.11%;
}
.rectangle-div38 {
  position: absolute;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #073eff;
  box-sizing: border-box;
}
.entrar-div1 {
  position: absolute;
  height: 50%;
  width: 39.45%;
  top: 30%;
  right: 30.28%;
  bottom: 20%;
  left: 30.28%;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.botao-entrar-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 6.94%;
  top: 61.32%;
  right: 30.83%;
  bottom: 10.38%;
  left: 62.22%;
}
.sigaa-b1 {
  position: absolute;
  height: 45.28%;
  width: 8.82%;
  top: 4.72%;
  right: 77.5%;
  bottom: 50%;
  left: 13.68%;
  display: inline-block;
}
.natal-14072022-i1,
.sistema-integrado-de-gesto-de1,
.ufrn-i1 {
  position: absolute;
  height: 33.96%;
  width: 16.18%;
  top: 58.49%;
  right: 70.14%;
  bottom: 7.55%;
  left: 13.68%;
  font-size: 15px;
  display: inline-block;
}
.natal-14072022-i1,
.ufrn-i1 {
  height: 72.64%;
  width: 12.08%;
  top: 19.81%;
  right: 46.53%;
  left: 41.39%;
  font-size: 64px;
  font-weight: 800;
}
.natal-14072022-i1 {
  height: 11.32%;
  width: 6.11%;
  top: 83.96%;
  right: 0.56%;
  bottom: 4.72%;
  left: 93.33%;
  font-size: 10px;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Inter;
}
.calendario-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2116px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: Inter;
}
