body {
  margin: 0;
  line-height: normal;
}

@media screen and (min-width: 900px) {
 
}

.rectangle-div39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffefe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 76px;
}
.rectangle-div40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 129.27px;
  height: 30px;
}
.cursos-div3 {
  position: absolute;
  top: 8px;
  left: 39.08px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 48.1px;
}
.cursos-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 764.59px;
  width: 129.27px;
  height: 42px;
}
.extenso-div3 {
  position: absolute;
  top: 7px;
  left: 33.07px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 62.13px;
}
.extenso-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 611.27px;
  width: 129.27px;
  height: 30px;
}
.acervo-div2 {
  position: absolute;
  top: 7px;
  left: 34.07px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 48.1px;
}
.acervo-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 459.96px;
  width: 129.27px;
  height: 41px;
}
.departamentos-div2 {
  position: absolute;
  top: 7px;
  left: 10.02px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 109.23px;
  height: 26.84px;
}
.departamentos-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 306.64px;
  width: 129.27px;
  height: 33.84px;
}
.calendrio-div2 {
  position: absolute;
  top: 8px;
  left: 26.05px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 76.16px;
  height: 20.4px;
}
.calendario-button2,
.rectangle-div45 {
  position: absolute;
  top: 0;
  width: 129.27px;
  height: 30px;
}
.calendario-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 153.32px;
}
.rectangle-div45 {
  left: 0;
  border-radius: 5px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
}
.destaques-div2 {
  position: absolute;
  top: 7px;
  left: 27.06px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 75.16px;
  height: 17px;
}
.destaque-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 0;
  width: 129.27px;
  height: 30px;
}
.group-div9 {
  position: absolute;
  top: 46px;
  left: 43.09px;
  width: 893.86px;
  height: 43px;
}
.body-section,
.navbar-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89px;
}
.body-section {
  top: 106px;
  left: -3px;
}
.rectangle-header2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.image-1-icon2,
.image-2-icon2 {
  position: absolute;
  height: 72.64%;
  width: 3.17%;
  top: 14.15%;
  right: 90.69%;
  bottom: 13.21%;
  left: 5.14%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon2 {
  height: 100%;
  width: 48.33%;
  top: 0;
  right: 51.67%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}
.acessar-div2 {
  position: absolute;
  height: 53.33%;
  width: 43.2%;
  top: 26.67%;
  right: 0;
  bottom: 20%;
  left: 56.8%;
  font-size: 13px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.pessoa-com-defi2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 8.68%;
  top: 61.32%;
  right: 20.21%;
  bottom: 10.38%;
  left: 71.11%;
}
.rectangle-div46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #073eff;
  box-sizing: border-box;
}
.entrar-div2 {
  position: absolute;
  height: 50%;
  width: 39.45%;
  top: 30%;
  right: 30.28%;
  bottom: 20%;
  left: 30.28%;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.botao-entrar-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 6.94%;
  top: 61.32%;
  right: 30.83%;
  bottom: 10.38%;
  left: 62.22%;
}
.sigaa-b2 {
  position: absolute;
  height: 45.28%;
  width: 8.82%;
  top: 4.72%;
  right: 77.5%;
  bottom: 50%;
  left: 13.68%;
  display: inline-block;
}
.natal-14072022-i2,
.sistema-integrado-de-gesto-de2,
.ufrn-i2 {
  position: absolute;
  height: 33.96%;
  width: 16.18%;
  top: 58.49%;
  right: 70.14%;
  bottom: 7.55%;
  left: 13.68%;
  font-size: 15px;
  display: inline-block;
}


.natal-14072022-i2,
.ufrn-i2 {
  height: 72.64%;
  width: 12.08%;
  top: 19.81%;
  right: 46.53%;
  left: 41.39%;
  font-size: 64px;
  font-weight: 800;
}
.natal-14072022-i2 {
  height: 11.32%;
  width: 6.11%;
  top: 83.96%;
  right: 0.56%;
  bottom: 4.72%;
  left: 93.33%;
  font-size: 10px;
}
.header2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Inter;
}
.image-des-1-icon {
  position: absolute;
  top: 249px;
  left: 74px;
  border-radius: 5px;
  width: 640px;
  height: 378px;
  object-fit: cover;
}
.prefeitura-de-natal-rn {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 800;
  display: inline-block;
  width: 188px;
  height: 21px;
}
.a-pr-reitoria-de-assuntos-est {
  position: absolute;
  top: 39px;
  left: 4px;
  font-size: 12px;
  color: #000;
  display: inline-block;
  width: 325px;
  height: 74px;
}
.rectangle-div47 {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: #d9d9d9;
  width: 341px;
  height: 4px;
}
.img-des-2-icon,
.noticias-1-destaque,
.noticias-2-destaque {
  position: absolute;
  top: 265px;
  left: 766px;
  width: 341px;
  height: 149px;
}
.img-des-2-icon,
.noticias-1-destaque {
  top: 459px;
}
.img-des-2-icon {
  top: 202px;
  left: 1161px;
  border-radius: 5px;
  width: 227px;
  height: 497px;
  object-fit: cover;
}
.ltimas-novidades-div {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  font-weight: 500;
  display: inline-block;
}
.rectangle-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 304px;
  height: 162px;
  object-fit: cover;
}
.diretoria-de-projetos-dpinfra {
  position: absolute;
  top: 169px;
  left: 10px;
  font-weight: 800;
  display: inline-block;
}
.seleo-de-bolsistas {
  margin-block-start: 0;
  margin-block-end: 0;
}
.arquitetura-e-urbanismo {
  margin: 0;
}
.seleo-de-bolsistas-do-curso {
  position: absolute;
  top: 191px;
  left: 11px;
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.card1-dest-div,
.card1-dest-div1,
.card1-dest-div2,
.group-div10 {
  position: absolute;
  top: 59px;
  left: 348px;
  width: 304px;
  height: 221px;
}
.card1-dest-div1,
.card1-dest-div2,
.group-div10 {
  left: 0;
}
.card1-dest-div2,
.group-div10 {
  left: 696px;
}
.group-div10 {
  top: 712px;
  left: 74px;
  width: 1000px;
  height: 280px;
  font-size: 12px;
  color: #112039;
}
.httpwwwsistemasufrnbrdo {
  text-decoration: underline;
  position: absolute;
  top: 1662px;
  left: 2432px;
  font-size: 12px;
  font-weight: 800;
  color: #0047ff;
  display: inline-block;
}
.rectangle-div49 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 434px;
}
.image-3-icon2 {
  position: absolute;
  top: 348px;
  left: 67px;
  width: 485px;
  height: 74px;
  object-fit: cover;
}
.cidadania-global2 {
  position: absolute;
  top: 148.36px;
  left: 704px;
  display: inline-block;
  width: 115px;
  height: 18.82px;
}
.span8 {
  font-weight: 500;
  font-family: Inter;
}
.empresa-div2,
.produtos-div2,
.viaje-dirigir-fazer-entregas-f2 {
  position: absolute;
  top: 148.36px;
  left: 422px;
  display: inline-block;
  width: 67px;
  height: 37.64px;
}
.empresa-div2,
.viaje-dirigir-fazer-entregas-f2 {
  top: 145.04px;
  left: 84px;
  width: 64px;
}
.viaje-dirigir-fazer-entregas-f2 {
  top: 182.68px;
  left: 422px;
  font-weight: 500;
  width: 136px;
  height: 169.39px;
}
.acesse-a-central-de-ajuda2,
.quem-somos-o-que-oferecemos-ne2 {
  position: absolute;
  top: 163.86px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
  width: 198px;
  height: 207.04px;
}
.acesse-a-central-de-ajuda2 {
  top: 97.43px;
  width: 177px;
  height: 18.82px;
}
.sigaa-sistema-integrado-de-g2 {
  position: absolute;
  top: 46.5px;
  left: 85px;
  display: inline-block;
  width: 448px;
  height: 18.82px;
}
.acessibilidade-div2 {
  top: 375px;
  left: 1243px;
  font-size: 12px;
}
.acessibilidade-div2,
.segurana-diversidade-e-inclus2,
.termos-div2 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.termos-div2 {
  top: 375px;
  left: 1347px;
  font-size: 12px;
  width: 68px;
  height: 16px;
}
.segurana-diversidade-e-inclus2 {
  top: 177px;
  left: 704px;
}
.aeroportos-cidades-div2,
.viaje-b2 {
  position: absolute;
  top: 134px;
  left: 1003px;
  display: inline-block;
}
.aeroportos-cidades-div2 {
  top: 165px;
  font-weight: 500;
}
.cog-interprise-system2,
.privacidade-div2 {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}
.cog-interprise-system2 {
  top: 405px;
  left: 692px;
  color: rgba(255, 255, 255, 0.5);
}
.privacidade-div2 {
  top: 375px;
  left: 1154px;
}
.destaques-header,
.footer2 {
  text-align: left;
  font-family: Inter;
}
.footer2 {
  position: absolute;
  top: 1124px;
  left: 0;
  width: 100%;
  height: 434px;
  font-size: 14px;
  color: #fff;
}
.destaques-header {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1557px;
  overflow: hidden;
  font-size: 16px;
  color: #0007b7;
}

@media screen and (max-width: 1441px) {
  .natal-14072022-i2 {
    margin-left: -50px ;
    width: 100px;
  }
}
@media screen and (max-width: 1404px) {
  .sistema-integrado-de-gesto-de2, .sigaa-b2{
    display: none;
  }

  .ufrn-i2{
    width: 20%;
    margin-left: -200px;
  }


  .sigaa-b2 {
    position: absolute;
    margin-top: 3%;
  }
  .img-des-2-icon{
    display: none;
  }
  .acessibilidade-div2{
    margin-left: -150px;
  }
  .termos-div2{
    margin-left: -150px;
  }
  .privacidade-div2{
    margin-left: -150px;
  }
  .noticias-2-destaque, .noticias-1-destaque {
    margin-left: 100px;
  }
}