/* Gerais */

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

.imgnav {
    width: 40px;
}


@media screen and (min-width: 448px) { 
    
    .textonav {
        display: none;
    }
    .imgnav{
        width: 100px !important;
    }

}
@media screen and (min-width: 449px) { 
    
    .textonav {
        display: flex;
    }

}