body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 434px;
}
.image-3-icon {
  position: absolute;
  top: 348px;
  left: 67px;
  width: 485px;
  height: 74px;
  object-fit: cover;
}
.cidadania-global {
  position: absolute;
  top: 148.36px;
  left: 704px;
  display: inline-block;
  width: 115px;
  height: 18.82px;
}
.span {
  font-weight: 500;
  font-family: Inter;
}
.produtos {
  margin-block-start: 0;
  margin-block-end: 0;
}
.empresa-div,
.produtos-div {
  position: absolute;
  top: 148.36px;
  left: 422px;
  display: inline-block;
  width: 67px;
  height: 37.64px;
}
.empresa-div {
  top: 145.04px;
  left: 84px;
  width: 64px;
}
.uber-para-empresas {
  margin: 0;
}
.viaje-dirigir-fazer-entregas-f {
  position: absolute;
  top: 182.68px;
  left: 422px;
  font-weight: 500;
  display: inline-block;
  width: 136px;
  height: 169.39px;
}
.acesse-a-central-de-ajuda,
.quem-somos-o-que-oferecemos-ne {
  position: absolute;
  top: 163.86px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
  width: 198px;
  height: 207.04px;
}
.acesse-a-central-de-ajuda {
  top: 97.43px;
  width: 177px;
  height: 18.82px;
}
.sigaa-sistema-integrado-de-g {
  position: absolute;
  top: 46.5px;
  left: 85px;
  display: inline-block;
  width: 448px;
  height: 18.82px;
}
.acessibilidade-div {
  top: 375px;
  left: 1243px;
  font-size: 12px;
}
.acessibilidade-div,
.segurana-diversidade-e-inclus,
.termos-div {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.termos-div {
  top: 375px;
  left: 1347px;
  font-size: 12px;
  width: 68px;
  height: 16px;
}
.segurana-diversidade-e-inclus {
  top: 177px;
  left: 704px;
}
.aeroportos-cidades-div,
.viaje-b {
  position: absolute;
  top: 134px;
  left: 1003px;
  display: inline-block;
}
.aeroportos-cidades-div {
  top: 165px;
  font-weight: 500;
}
.cog-interprise-system,
.privacidade-div {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}
.cog-interprise-system {
  top: 405px;
  left: 692px;
  color: rgba(255, 255, 255, 0.5);
}
.privacidade-div {
  top: 375px;
  left: 1154px;
}
.footer {
  position: absolute;
  top: 1039px;
  left: 0;
  width: 100%;
  height: 434px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #112039;
  width: 1021px;
  height: 264px;
}
.eco-sistemas-div {
  position: absolute;
  top: 19px;
  left: 238px;
  font-weight: 500;
  display: inline-block;
  width: 530.63px;
  height: 26.18px;
}
.ufrn-span {
  font-size: 36px;
  font-weight: 500;
}
.span2 {
  font-weight: 800;
}
.span3 {
  font-size: 32px;
  font-weight: 200;
}
.ufrn-div {
  position: absolute;
  top: 9.82px;
  left: 103.69px;
  display: inline-block;
  width: 146.38px;
  height: 48px;
  font-size: 14px;
}
.rectangle-div2,
.topo-div {
  position: absolute;
  top: 0;
  left: 0;
}
.topo-div {
  width: 1021px;
  height: 264px;
  color: #fff;
}
.rectangle-div2 {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 943px;
  height: 507px;
}
.line-icon {
  position: absolute;
  top: 301.67px;
  left: 20.03px;
  width: 450px;
  height: 3px;
}
.coordenador-span {
  font-weight: 800;
  font-family: Inter;
}
.blank-line-span {
  font-weight: 500;
}
.fellipe-patrick-ul {
  margin: 0;
  padding-left: 21px;
}
.coordenador-fellipe-patrick {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 627.4px;
  height: 20.5px;
}
.group-div {
  position: absolute;
  top: 93.33px;
  left: 412.97px;
  width: 627.4px;
  height: 303.67px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 471.4px;
  left: 887.59px;
  width: 1px;
  height: 17.8px;
}
.vector-icon1 {
  top: 467.99px;
  left: 878.9px;
  width: 17.75px;
  height: 9.7px;
}
.centro-de-biociencia {
  position: absolute;
  top: 64px;
  left: 47px;
  width: 1040.37px;
  height: 507px;
  font-size: inherit;
}
.integrantes-do-projeto {
  position: absolute;
  top: 134px;
  left: 9px;
  display: inline-block;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 9px;
  border-radius: 8px;
  width: 134px;
  height: 114px;
  object-fit: cover;
}
.edilson-dantas-da {
  margin-bottom: 0;
}
.edilson-dantas-da-silva-junior {
  top: 173px;
  left: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.div,
.eco-sistemas-div1,
.edilson-dantas-da-silva-junior,
.telefones-b {
  position: absolute;
  display: inline-block;
}
.eco-sistemas-div1 {
  top: 0;
  left: 371px;
  font-size: 32px;
  font-weight: 500;
  width: 530.63px;
  height: 26.18px;
}
.div,
.telefones-b {
  top: 252px;
  left: 7px;
}
.div {
  top: 289px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  width: 131px;
  height: 29px;
}
.caene-div,
.unidade-responsavel-b {
  position: absolute;
  top: 318px;
  left: 9px;
  display: inline-block;
}
.caene-div {
  top: 355px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  width: 153px;
  height: 37px;
}
.dados-departamento-div {
  position: absolute;
  top: 87px;
  left: 88px;
  width: 901.63px;
  height: 392px;
  font-size: 16px;
}
.descrio-do-escopo-do-projeto {
  position: absolute;
  top: 243px;
  left: 480px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  width: 401px;
}
.card-extensao-div {
  position: absolute;
  top: 362px;
  left: 20px;
  width: 1087.37px;
  height: 571px;
}
.rectangle-button,
.rectangle-div3 {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 2px;
  background-color: #eaebf3;
  width: 100%;
  height: 119px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fffbfb;
  top: 22px;
  width: 240px;
  height: 42px;
}
.eco-sistemas-div2,
.titulo-da-ao {
  position: absolute;
  top: 36px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 159px;
}
.titulo-da-ao {
  top: 0;
  left: 11px;
  width: 127px;
}
.group-div2,
.rectangle-button1 {
  position: absolute;
  top: 3px;
  left: 1011px;
  width: 240px;
  height: 64px;
}
.rectangle-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fffbfb;
  top: 21px;
  left: 43px;
  border-radius: 2px;
  height: 42px;
}
.vector-icon2 {
  position: absolute;
  top: 41.68px;
  left: 247.58px;
  width: 25.32px;
  height: 19.1px;
}
.caene-div1,
.unidade-responsavel-div {
  position: absolute;
  top: 35px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 187px;
}
.unidade-responsavel-div {
  top: 0;
  left: 29px;
  width: 210px;
}
.group-div3 {
  position: absolute;
  top: 4px;
  left: 470px;
  width: 283px;
  height: 63px;
}
.rectangle-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fffbfb;
  position: absolute;
  top: 22px;
  left: 12px;
  border-radius: 2px;
  width: 240px;
  height: 42px;
}
.coordenador-div,
.jos-de-alencar {
  position: absolute;
  top: 36px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 175px;
}
.coordenador-div {
  top: 0;
  left: 23px;
  width: 111px;
}
.group-div4,
.vector-icon3 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 252px;
  height: 64px;
}
.vector-icon3 {
  top: 42.68px;
  left: 204.58px;
  width: 25.32px;
  height: 19.1px;
}
.curso-div,
.tipo-da-atividade {
  position: absolute;
  top: 36px;
  left: 0.17px;
  font-weight: 300;
  display: inline-block;
  width: 97px;
}
.tipo-da-atividade {
  top: 0;
  left: 5px;
  width: 145px;
}
.group-div5,
.rectangle-button4 {
  position: absolute;
  top: 3px;
  left: 261px;
  width: 240px;
  height: 64px;
}
.rectangle-button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fffbfb;
  top: 25px;
  left: 0;
  border-radius: 2px;
  height: 42px;
}
.vector-icon4 {
  position: absolute;
  top: 42.68px;
  left: 209.58px;
  width: 25.32px;
  height: 19.1px;
}
.ano-div1,
.div1 {
  position: absolute;
  top: 25px;
  left: 26.72px;
  font-weight: 300;
  display: inline-block;
  width: 90px;
}
.ano-div1 {
  top: 0;
  left: 13.28px;
  font-size: 15px;
  width: 33.1px;
}
.ano-div,
.group-div1 {
  position: absolute;
  height: 67px;
}
.ano-div {
  top: 0;
  left: 761px;
  width: 240px;
  font-size: 32px;
}
.group-div1 {
  top: 37px;
  left: 0;
  width: 1251px;
}
.filtros-div {
  position: absolute;
  top: 0;
  left: 46px;
  font-size: 20px;
  font-weight: 800;
  color: #112039;
  text-align: left;
  display: inline-block;
  width: 1070px;
}
.rectangle-div4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 122.57px;
  height: 30px;
}
.enviar-div {
  position: absolute;
  top: 8px;
  left: 41px;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 48.35px;
}
.apagar-button,
.botao-enviar-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.botao-enviar-button {
  top: 0;
  left: 0;
  width: 122.57px;
  height: 30px;
}
.apagar-button {
  top: 38px;
  left: 41px;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 51.74px;
}
.botoes-filtros-div,
.navbar2-div {
  position: absolute;
  top: 54px;
  left: 1285px;
  width: 122.57px;
  height: 53px;
}
.navbar2-div {
  top: 201px;
  left: 0;
  width: 100%;
  height: 129px;
  text-align: center;
  font-size: 15px;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 224px;
  height: 286px;
  object-fit: cover;
}
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4 {
  position: absolute;
  top: 317px;
  left: 30px;
  width: 40px;
  height: 38px;
  object-fit: cover;
}
.rectangle-icon3,
.rectangle-icon4 {
  left: 93px;
}
.rectangle-icon4 {
  left: 153px;
}
.images-div,
.rectangle-div5 {
  position: absolute;
  top: 459px;
  left: 1131px;
  width: 100%px;
  height: 355px;
}
.rectangle-div5 {
  top: 0;
  left: 0;
  background-color: #fffefe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 76px;
}
.rectangle-div6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 129px;
  height: 30px;
}
.cursos-div {
  position: absolute;
  top: 8px;
  left: 39px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
}
.cursos-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 763px;
  width: 129px;
  height: 42px;
}
.rectangle-div7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  box-sizing: border-box;
  width: 129px;
  height: 30px;
}
.extenso-div1 {
  position: absolute;
  top: 7px;
  left: 33px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.extenso-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 610px;
  width: 129px;
  height: 30px;
}
.acervo-div {
  position: absolute;
  top: 7px;
  left: 34px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
}
.acervo-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 459px;
  width: 129px;
  height: 41px;
}
.departamentos-div {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 109px;
  height: 26.84px;
}
.departamentos-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 306px;
  width: 129px;
  height: 33.84px;
}
.calendrio-div {
  position: absolute;
  top: 8px;
  left: 26px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 76px;
  height: 20.4px;
}
.calendario-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 153px;
  width: 129px;
  height: 30px;
}
.destaques-div {
  position: absolute;
  top: 7px;
  left: 27px;
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #0d6efd;
  text-align: left;
  display: inline-block;
  width: 75px;
  height: 17px;
}
.destaque-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 0;
  width: 129px;
  height: 30px;
}
.group-div6 {
  position: absolute;
  top: 46px;
  left: 43px;
  width: 892px;
  height: 43px;
}
.navbar-div,
.rectangle-header {
  position: absolute;
  top: 109px;
  left: 0;
  width: 100%;
  height: 89px;
}
.rectangle-header {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  height: 72.64%;
  width: 3.17%;
  top: 14.15%;
  right: 90.69%;
  bottom: 13.21%;
  left: 5.14%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon {
  height: 100%;
  width: 48.33%;
  top: 0;
  right: 51.67%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}
.acessar-div {
  position: absolute;
  height: 53.33%;
  width: 43.2%;
  top: 26.67%;
  right: 0;
  bottom: 20%;
  left: 56.8%;
  font-size: 13px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.pessoa-com-defi {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 8.68%;
  top: 61.32%;
  right: 20.21%;
  bottom: 10.38%;
  left: 71.11%;
}
.rectangle-div12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #073eff;
  box-sizing: border-box;
}
.entrar-div {
  position: absolute;
  height: 50%;
  width: 39.45%;
  top: 30%;
  right: 30.28%;
  bottom: 20%;
  left: 30.28%;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.botao-entrar-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 28.3%;
  width: 6.94%;
  top: 61.32%;
  right: 30.83%;
  bottom: 10.38%;
  left: 62.22%;
}
.sigaa-b {
  position: absolute;
  height: 45.28%;
  width: 8.82%;
  top: 4.72%;
  right: 77.5%;
  bottom: 50%;
  left: 13.68%;
  display: inline-block;
}
.natal-14072022-i,
.sistema-integrado-de-gesto-de,
.ufrn-i {
  position: absolute;
  height: 33.96%;
  width: 16.18%;
  top: 58.49%;
  right: 70.14%;
  bottom: 7.55%;
  left: 13.68%;
  font-size: 15px;
  display: inline-block;
}
.natal-14072022-i,
.ufrn-i {
  height: 72.64%;
  width: 12.08%;
  top: 19.81%;
  right: 46.53%;
  left: 41.39%;
  font-size: 64px;
  font-weight: 800;
}
.natal-14072022-i {
  height: 11.32%;
  width: 6.11%;
  top: 83.96%;
  right: 0.56%;
  bottom: 4.72%;
  left: 93.33%;
  font-size: 10px;
}
.extenso-div,
.header {
  text-align: left;
  font-family: Inter;
}
.header {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 106px;
  font-size: 40px;
  color: #fff;
}
.extenso-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1473px;
  overflow: hidden;
  font-size: 24px;
  color: #000;
}
